.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iotscroll{
  overflow-y: scroll;
  height: 75vh;
}

button.btn--orange {
  color: #fff;
  background-color: #006eeb;
  border-bottom: 5px solid #005cb8;
}
button.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #005ef5;
  border-bottom: 2px solid #005cb8;
}
button.btn--shadow {
  -webkit-box-shadow: 0 3px 5px #fff;
  box-shadow: 0 3px 5px #fff;
}

.display_center{
  display: flex;
  justify-content: center;
  align-items: center;
}